extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  +formFor(user, { action: route('users'), method: 'POST' })
    +input(user, 'firstName', errors)(type="text" label=t('views.users.new.firstname'))
    +input(user, 'lastName', errors)(type="text" label=t('views.users.new.lastname'))
    +input(user, 'email', errors)(type="text" label=t('views.users.new.email'))
    +input(user, 'password', errors)(type="password" label=t('views.users.new.password'))
    +submit(user)(value=t('views.users.new.submit'))