extends ../layouts/application.pug

block header
  | #{t('views.statuses.index.header')}

block content
  a.btn.btn-primary(href=route('statuses.new'))= t('views.statuses.index.new')

  table.table.mt-3
    thead
      tr
        th= t('views.statuses.index.id')
        th= t('views.statuses.index.name')
        th= t('views.statuses.index.createdAt')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            a.btn.btn-sm.btn-outline-primary.me-2(href=route('statuses.edit', { id: status.id }))= t('views.statuses.index.edit')
            +buttonTo(
              route('statuses.delete', { id: status.id }),
              'delete',
              t('views.statuses.index.delete'),
              {
                class: 'btn btn-sm btn-outline-danger',
                onclick: `return confirm('${t('views.statuses.index.confirm')}');`
              }
            )
