extends ../layouts/application.pug

block content
  if flash
    each messages, type in flash
      if messages && messages.length
        each message in messages
          div.alert(class=`alert ${getAlertClass(type)}` role="alert")= message

  h1= t('views.tasks.edit.title')

  form(method="post" action=route('tasks.update', { id: task.id }) )
    input(type="hidden" name="_method" value="patch")

    .form-group
      label(for="data_name")= t('views.tasks.edit.form.name')
      input#data_name.form-control(name="data[name]" required value=task.name)
      if errors.name
        each err in errors.name
          .invalid-feedback(style='display:block')= err

    .form-group
      label(for="data_description")= t('views.tasks.edit.form.description')
      textarea#data_description.form-control(name="data[description]")= task.description
      if errors.description
        each err in errors.description
          .invalid-feedback(style='display:block')= err

    .form-group
      label(for="data_statusId")= t('views.tasks.edit.form.status')
      select#data_statusId.form-control(name="data[statusId]" required)
        option(value="") #{t('views.tasks.new.edit.form.selectStatus')}
        each status in statuses
          option(
            value=status.id,
            selected=(String(task.statusId) === String(status.id))
          )= status.name
      if errors.statusId
        each err in errors.statusId
          .invalid-feedback(style='display:block')= err

    .form-group
      label(for="data_executorId")= t('views.tasks.edit.form.executor')
      select#data_executorId.form-control(name="data[executorId]")
        option(value="") #{t('views.tasks.edit.form.selectExecutor')}
        each user in users
          option(
            value=user.id,
            selected=(String(task.executorId) === String(user.id))
          )= user.fullName
      if errors.executorId
        each err in errors.executorId
          .invalid-feedback(style='display:block')= err
    
    .form-group
      label(for="data_labels")= t('views.tasks.edit.form.labels')
      select#data_labels(name="data[labelIds][]" multiple).form-select
        each label in labels
          option(value=label.id selected=labelIds.includes(label.id))= label.name


    button.btn.btn-primary(type="submit")= t('views.tasks.action.edit')
