extends ../layouts/application.pug

block header
  | #{t('views.tasks.index.title')}

block content
  a.btn.btn-primary(href=route('tasks.new'))= t('views.tasks.action.new')
  
  form(method="GET", action=route('tasks'))
  .row.mb-3
    .col-md-3
      label.form-label(for="statusId") #{t('views.tasks.filter.status')}
      select.form-select(name="statusId", id="data_status")
        option(value="") #{t('views.tasks.filter.all')}
        each status in statuses
          option(
            value=status.id
            selected=(filterValues.statusId == status.id.toString())
          )= status.name

    .col-md-3
      label.form-label(for="executorId") #{t('views.tasks.filter.executor')}
      select.form-select(name="executorId", id="data_executor")
        option(value="") #{t('views.tasks.filter.all')}
        each user in users
          option(
            value=user.id
            selected=(filterValues.executorId == user.id.toString())
          )= user.name

    .col-md-3
      label.form-label(for="labelId") #{t('views.tasks.filter.label')}
      select.form-select(name="labelId", id="data_label")
        option(value="") #{t('views.tasks.filter.all')}
        each label in labels
          option(
            value=label.id
            selected=(filterValues.labelId == label.id.toString())
          )= label.name

    .col-md-3.d-flex.align-items-center
      label.form-check-label.me-2(for="isCreatorUser")
        input.form-check-input(type="checkbox", name="isCreatorUser", id="isCreatorUser", checked=filterValues.isCreatorUser)
        | #{t('views.tasks.filter.myTasksOnly')}

  button.btn.btn-primary(type="submit") #{t('views.tasks.action.show')}

  table.table.mt-3
    thead
      tr
        th= t('views.tasks.index.id')
        th= t('views.tasks.index.name')
        th= t('views.tasks.index.status')
        th= t('views.tasks.index.creator')
        th= t('views.tasks.index.executor')
        th= t('views.tasks.index.createdAt')
        th= t('views.tasks.index.actions')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('tasks.show', { id: task.id }))= task.name
          td= task.status && task.status.name
          td= task.creator && task.creator.fullName
          td= task.executor && task.executor.fullName
          td= formatDate(task.createdAt)
          td
            a.btn.btn-sm.btn-outline-primary.me-2(href=route('tasks.edit', { id: task.id }))= t('views.tasks.action.edit')
            +buttonTo(route('tasks.delete', { id: task.id }), 'delete', t('views.tasks.action.delete'))(
              class='btn btn-sm btn-outline-danger',
              onclick="return confirm('#{t('views.tasks.index.confirm')}');"
            )
