extends ../layouts/application.pug

block header
  | #{t('tasks.index.title')}

block content
  a.btn.btn-primary(href=route('tasks.new'))= t('tasks.index.new')

  table.table.mt-3
    thead
      tr
        th= t('tasks.index.id')
        th= t('tasks.index.name')
        th= t('tasks.index.status')
        th= t('tasks.index.creator')
        th= t('tasks.index.createdAt')
        th
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('tasks.show', { id: task.id }))= task.name
          td= task.status && task.status.name
          td= task.creator && task.creator.email
          td= formatDate(task.createdAt)
          td
            a.btn.btn-sm.btn-outline-primary.me-2(href=route('tasks.edit', { id: task.id }))= t('tasks.index.edit')
            +buttonTo(route('tasks.delete', { id: task.id }), 'delete', t('tasks.index.delete'))(
              class='btn btn-sm btn-outline-danger',
              onclick="return confirm('#{t('tasks.index.confirm')}');"
            )
