extends ../layouts/application.pug

block header
  | #{t('tasks.new.title')}

block content
  +formFor(task, { action: route('tasks.create'), method: 'POST' })
    +input(task, 'name', errors)(type="text" label=t('tasks.new.form.name'))
    +input(task, 'description', errors)(type="text" label=t('tasks.new.form.description'))
    .form-group
      label(for="labelIds")= t('labels.name')
      each label in labels
        .form-check
          input.form-check-input(type="checkbox", name="data[labelIds]", id=`label-${label.id}`, value=label.id)
          label.form-check-label(for=`label-${label.id}`)= label.name

    label(for="statusId")= t('tasks.new.form.status')
    select(name="data[statusId]" required).form-select
      option(value="") #{t('tasks.new.form.selectStatus')}
      each status in statuses
        option(value=status.id selected=(String(task.statusId) === String(status.id)))= status.name

    label(for="executorId")= t('tasks.new.form.executor')
    select(name="data[executorId]").form-select
      option(value="") #{t('tasks.new.form.selectExecutor')}
      each user in users
        option(value=user.id selected=(String(task.executorId) === String(user.id)))= user.email

    +submit()(value=t('tasks.new.submit'))
