include ../mixins/forms.pug

doctype html
html(lang="en")
  head
    title= t('appName')
    link(href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet", href="/assets/css/cover.css")
    script(src="/assets/bootstrap/bootstrap.bundle.min.js")

    style.
      body, html {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      }
      body.d-flex.flex-column.min-vh-100 {
        min-height: 100vh;
      }
      main.flex-grow-1 {
        flex-grow: 1;
      }

    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

  body.d-flex.flex-column.min-vh-100
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
      .container-fluid
        a.navbar-brand(href=route('root'))= t('appName')
        button.navbar-toggler(data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarToggleExternalContent")
          .container-fluid
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href=route('users'))= t('layouts.application.users')
            ul.navbar-nav
              if isAuthenticated()
                li.nav-item
                  a.nav-link(href=route('statuses'))= t('layouts.application.statuses')
                li.nav-item
                  a.nav-link(href=route('labels'))= t('layouts.application.labels')
                li.nav-item
                  a.nav-link(href=route('tasks'))= t('layouts.application.tasks')
                li.nav-item
                  form(action=route('deleteSession') method='post' class="d-inline")
                    input(type="hidden", name="_method", value="delete")
                    button.btn.nav-link(type="submit")= t('layouts.application.signOut')
              else
                li.nav-item
                  a.nav-link(href=route('newSession'))= t('layouts.application.signIn')
                li.nav-item
                  a.nav-link(href=route('newUser'))= t('layouts.application.signUp')

    .container.flex-grow-1.bg-dark.text-light.d-flex.flex-column.justify-content-center.align-items-center
      if flash
        each messages, type in flash
          if messages && messages.length
            each message in messages
              - const alertClass = getAlertClass ? getAlertClass(type) : 'alert-secondary'
              div.alert(class=`alert ${alertClass}` role="alert")= message

      h1.my-4
        block header
      block content

    footer
      .container.my-5.pt-4.border-top.text-left
        a(target="_blank" href="https://ru.hexlet.io") Hexlet
